<div class="page" data-name="transaction_report">
  <div class="page-content background-body" style="overflow-x: hidden; width: inherit;">
    <div class="container-image">
      <img data-src="img/header-laporan-penjualan.png" class="lazy" style="width: 100%;">
      <div class="top-left-of-image" style="color: black;">
        <a href="/user_home/">
          <img data-src="img/icon-back.png" class="lazy" style="width: 20px; height: 20px;">
        </a>
        &nbsp; <font style="font-size: 20px;"><b>Laporan Penjualan</b></font>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img data-src="img/txt-menu.png" class="lazy width-max">
            <div class="top-left-of-image lbl-action-sub-master">
              Tanggal
            </div>
            <div class="top-left-of-image txt-action-sub-master">
              <input type="text" id="choose_date_transaction_report" placeholder="Pilih tanggal disini.." class="width-max" style="color: black;" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row menu_admin">
        <div class="col">
          <div class="container-image">
            <img data-src="img/txt-menu.png" class="lazy width-max">
            <div class="top-left-of-image lbl-action-sub-master">
              Usaha
            </div>
            <div class="top-left-of-image txt-action-sub-master">
              <select id="choose_store_transaction_report" class="width-max" style="color: black;">
                <option value="">Semua</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img src="img/list-laporan-penjualan.png" style="width: 100%; height: 80px;">
            <div class="top-left-of-image-list-menu" style="color: black; text-align: left; top: 20px;">
              <span style="font-size: 16px;"><b>Total Pendapatan</b></span>
              <br><span id="total_income_transaction_report"></span>  
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img src="img/list-laporan-penjualan.png" style="width: 100%; height: 80px;">
            <div class="top-left-of-image-list-menu" style="color: black; text-align: left; top: 20px;">
              <span style="font-size: 16px;"><b>Total Diskon</b></span>
              <br><span id="total_discount_transaction_report"></span>  
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img src="img/list-laporan-penjualan.png" style="width: 100%; height: 80px;">
            <div class="top-left-of-image-list-menu" style="color: black; text-align: left; top: 20px;">
              <span style="font-size: 16px;"><b>Total Pendapatan - Diskon</b></span>
              <br><span id="total_income_after_discount_transaction_report"></span>  
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card data-table">
      <table>
        <tbody>
          <tr>
            <th class="input-cell">
              <span class="table-head-label">Menu</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label">Jumlah<br>tanpa Diskon</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label">Jumlah<br>dengan Diskon</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label">Jumlah<br>Total</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label">Subtotal</span>
            </th>
          </tr>
        </tbody>
        <tbody id="tbody_transaction_report">
          
        </tbody>
      </table>
    </div>
    <br><br><br>
  </div>
</div>