<div class="page" data-name="transaction_menu_detail">
  <div class="page-content background-body" style="overflow-x: hidden; width: inherit;">
    <div class="container-image">
      <img data-src="img/header-jumlah-pesanan.png" class="lazy" style="width: 100%;">
      <div class="top-left-of-image" style="color: black;">
        <a class="back">
          <img data-src="img/icon-back.png" class="lazy" style="width: 20px; height: 20px;">
        </a>
        &nbsp; <font style="font-size: 20px;"><b>Jumlah Pesanan</b></font>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img src="img/list-laporan-penjualan.png" style="width: 100%; height: 80px;">
            <div class="top-left-of-image-list-menu" style="color: black; text-align: left; top: 20px;">
              <span style="font-size: 16px;"><b>Menu</b></span>
              <br><span id="menu_name_transaction_menu_detail"></span>  
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img src="img/list-laporan-penjualan.png" style="width: 100%; height: 80px;">
            <div class="top-left-of-image-list-menu" style="color: black; text-align: left; top: 20px;">
              <span style="font-size: 16px;"><b>Harga</b></span>
              <br><span id="menu_sell_price_transaction_menu_detail"></span>  
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="img/btn-min.png" id="min_transaction_detail_count_transaction_menu_detail" class="width-max">
        </div>
        <div class="col" style="padding-top: 20px;">
          <input type="number" style="font-size: 26px; width: 100%; text-align: center;" id="transaction_detail_count_transaction_menu_detail" value="0">
        </div>
        <div class="col">
          <img src="img/btn-plus.png" id="add_transaction_detail_count_transaction_menu_detail" class="width-max">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <center>
            <img src="img/btn-tambah-keranjang.png" id="save_transaction_detail_transaction_menu_detail" style="width: 60%;">
          </center>
        </div>
      </div>
    </div>
  </div>
</div>