<div class="page" data-name="transaction_menu">
  <div class="page-content background-body" style="overflow-x: hidden; width: inherit;">
    <div class="container-image">
      <img data-src="img/header-menu.png" class="lazy" style="width: 100%;">
      <div class="top-left-of-image" style="color: black;">
        <a href="/user_home/">
          <img data-src="img/icon-back.png" class="lazy" style="width: 20px; height: 20px;">
        </a>
        &nbsp; <font style="font-size: 20px;"><b>Daftar Menu</b></font>
      </div>
      <div class="bottom-left-of-image">
        <div class="container-search-master">
          <img data-src="img/txt-search.png" class="lazy img-search-master">
          <div class="top-left-of-image div-txt-search-master">
            <input type="text" id="txt_search_menu_transaction_menu" placeholder="Cari menu.." class="txt-search-master">
          </div>
        </div>
      </div>
    </div>

    <div class="block" id="list_menu_transaction_menu">
      
    </div>
  </div>

  <div class="fab fab-right-bottom" id="btn_cart_transaction_menu">
    <span class="badge color-blue" id="count_transaction_detail_transaction_menu" style="position: absolute; top: 15%; right: 15%; z-index: 500;"></span>
    <a href="/transaction/cart">
      <img data-src="img/btn-cart.png" class="lazy width-max height-max">
    </a>
  </div>
</div>