<div class="page" data-name="menu_index">
  <div class="page-content background-body" style="overflow-x: hidden; width: inherit;">
    <div class="container-image">
      <img data-src="img/header-menu.png" class="lazy" style="width: 100%;">
      <div class="top-left-of-image" style="color: black;">
        <a href="/user_home/">
          <img data-src="img/icon-back.png" class="lazy" style="width: 20px; height: 20px;">
        </a>
        &nbsp; <font style="font-size: 20px;"><b>Daftar Menu</b></font>
      </div>
      <div class="bottom-left-of-image">
        <div class="container-search-master">
          <img data-src="img/txt-search.png" class="lazy img-search-master">
          <div class="top-left-of-image div-txt-search-master">
            <input type="text" id="txt_search_menu" placeholder="Cari menu.." class="txt-search-master">
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img data-src="img/txt-menu.png" class="lazy width-max">
            <div class="top-left-of-image lbl-action-sub-master">
              Pilih Usaha
            </div>
            <div class="top-left-of-image txt-action-sub-master">
              <select id="choose_store_menu_index" class="width-max" style="color: black;">
                <option value="">Semua</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block" id="list_menu">
    
    </div>
  </div>

  <div class="fab fab-right-bottom">
    <a href="/menu/create">
      <img data-src="img/btn-tambah.png" class="lazy width-max height-max">
    </a>
  </div>
</div>