<div class="page" data-name="user_home">
  <div class="page-content" style="overflow-x: hidden; width: inherit;">
    <div class="container-image">
      <img data-src="img/header-home.png" class="lazy" style="width: 100%;">
      <div class="top-left-of-image" style="color: black;">
        <font style="font-size: 20px;"><b>Beranda</b></font>
      </div>
      <div class="top-right-of-image">
        <a id="logout">
          <img data-src="img/icon-logout.png" class="lazy" style="width: 20px; height: 20px;">
        </a>
      </div>
    </div>
    <div class="block menu_admin">
      <div class="row">
        <div class="col">
          <a href="/store/index">
            <img data-src="img/btn-usaha.png" class="lazy width-max height-max">
          </a>
        </div>
        <div class="col">
          <a href="/user/index">
            <img data-src="img/btn-karyawan.png" class="lazy width-max height-max">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="/menu/index">
            <img data-src="img/btn-menu.png" class="lazy width-max height-max">
          </a>
        </div>
        <div class="col">
          <a href="/payment_type/index">
            <img data-src="img/btn-jenis-pembayaran.png" class="lazy width-max height-max">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="/transaction/index">
            <img data-src="img/btn-riwayat-penjualan.png" class="lazy width-max height-max">
          </a>
        </div>
        <div class="col">
          <a href="/transaction/report">
            <img data-src="img/btn-laporan-penjualan.png" class="lazy width-max height-max">
          </a>
        </div>
      </div>
    </div>

    <div class="block menu_karyawan">
      <div class="row">
        <div class="col">
          <a href="/transaction/menu">
            <img data-src="img/btn-kasir.png" class="lazy width-max height-max">
          </a>
        </div>
        <div class="col">
          <a href="/transaction/index">
            <img data-src="img/btn-riwayat-penjualan.png" class="lazy width-max height-max">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a id="scan_printer">
            <img data-src="img/btn-scan-printer.png" class="lazy width-max height-max">
          </a>
        </div>
      </div>
      <div class="row" id="list_printer_choosen">
        <div class="col" style="text-align: center; background: url('img/box-info-printer.png'); background-size: 100% 100%; padding-top: 10px; padding-bottom: 10px;">
          <b>Printer Name : </b><span id="printer_name">Printer Name</span><br>
          <b>Printer ID : </b><span id="printer_id">Printer ID</span><br>
          <b>Printer Service : </b><span id="printer_service">Printer Service</span><br>
          <b>Printer Characteristic : </b><span id="printer_characteristic">Printer Characteristic</span><br>
        </div>
      </div>
      <div id="list_printer">
        
      </div>
    </div>
	</div>
</div>