<div class="page" data-name="transaction_cart">
  <div class="page-content background-body" style="overflow-x: hidden; width: inherit;">
    <div class="container-image">
      <img data-src="img/header-nota-penjualan.png" class="lazy" style="width: 100%;">
      <div class="top-left-of-image" style="color: black;">
        <a class="back">
          <img data-src="img/icon-back.png" class="lazy" style="width: 20px; height: 20px;">
        </a>
        &nbsp; <font style="font-size: 20px;"><b>Keranjang</b></font>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img data-src="img/txt-menu.png" class="lazy width-max">
            <div class="top-left-of-image lbl-action-sub-master">
              Pelanggan <abbr style="color: red;">*</abbr>
            </div>
            <div class="top-left-of-image txt-action-sub-master">
              <input type="text" id="transaction_customer_name_transaction_cart" class="width-max" style="color: black;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card data-table">
      <table>
        <tbody>
          <tr>
            <th class="input-cell">
              <span class="table-head-label">Menu</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label">Subtotal</span>
            </th>
          </tr>
        </tbody>
        <tbody id="tbody_transaction_cart">
          
        </tbody>
        <tbody>
          <tr>
            <th class="input-cell">
              <span class="table-head-label">Total</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label" id="transaction_total_amount_transaction_cart"></span>
            </th>
          </tr>
          <tr>
            <th class="input-cell">
              <span class="table-head-label">Diskon</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label" id="transaction_total_discount_transaction_cart"></span>
            </th>
          </tr>
          <tr>
            <th class="input-cell">
              <span class="table-head-label">Grand Total</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label" id="transaction_grand_total_transaction_cart"></span>
            </th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="block">
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img data-src="img/txt-menu.png" class="lazy width-max">
            <div class="top-left-of-image lbl-action-sub-master">
              Jenis <abbr style="color: red;">*</abbr>
            </div>
            <div class="top-left-of-image txt-action-sub-master">
              <select id="payment_type_id_transaction_cart" class="width-max" style="color: black;">
                <option value="">-- Pilih Jenis Pembayaran --</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img data-src="img/txt-menu.png" class="lazy width-max">
            <div class="top-left-of-image lbl-action-sub-master">
              Nominal <abbr style="color: red;">*</abbr>
            </div>
            <div class="top-left-of-image txt-action-sub-master">
              <input type="number" id="transaction_total_paid_transaction_cart" value="" class="width-max" style="color: black;">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img data-src="img/txt-menu.png" class="lazy width-max">
            <div class="top-left-of-image lbl-action-sub-master">
              Catatan
            </div>
            <div class="top-left-of-image txt-action-sub-master">
              <input type="text" id="transaction_message_transaction_cart" class="width-max" style="color: black;">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <center>
            <img src="img/btn-checkout.png" id="btn_checkout_transaction_cart" style="width: 60%;">
          </center>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
</div>