<div class="page" data-name="transaction_index">
  <div class="page-content background-body" style="overflow-x: hidden; width: inherit;">
    <div class="container-image">
      <img data-src="img/header-riwayat-penjualan.png" class="lazy" style="width: 100%;">
      <div class="top-left-of-image" style="color: black;">
        <a href="/user_home/">
          <img data-src="img/icon-back.png" class="lazy" style="width: 20px; height: 20px;">
        </a>
        &nbsp; <font style="font-size: 20px;"><b>Riwayat Penjualan</b></font>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img data-src="img/txt-menu.png" class="lazy width-max">
            <div class="top-left-of-image lbl-action-sub-master">
              Tanggal
            </div>
            <div class="top-left-of-image txt-action-sub-master">
              <input type="text" id="choose_date_transaction_index" placeholder="Pilih tanggal disini.." class="width-max" style="color: black;" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row menu_admin">
        <div class="col">
          <div class="container-image">
            <img data-src="img/txt-menu.png" class="lazy width-max">
            <div class="top-left-of-image lbl-action-sub-master">
              Usaha
            </div>
            <div class="top-left-of-image txt-action-sub-master">
              <select id="choose_store_transaction_index" class="width-max" style="color: black;">
                <option value="">Semua</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block" id="list_transaction">
      
    </div>
  </div>
</div>