<div class="page" data-name="transaction_invoice">
  <div class="page-content background-body" style="overflow-x: hidden; width: inherit;">
    <div class="container-image">
      <img data-src="img/header-nota-penjualan.png" class="lazy" style="width: 100%;">
      <div class="top-left-of-image" style="color: black;">
        <a href="/transaction/index">
          <img data-src="img/icon-back.png" class="lazy" style="width: 20px; height: 20px;">
        </a>
        &nbsp; <font style="font-size: 20px;"><b>Nota Penjualan</b></font>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img src="img/list-laporan-penjualan.png" style="width: 100%; height: 80px;">
            <div class="top-left-of-image-list-menu" style="color: black; text-align: left; top: 20px;">
              <span style="font-size: 16px;"><b>Nomor Nota</b></span>
              <br><span id="transaction_invoice_number_transaction_invoice"></span>  
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card data-table">
      <table>
        <tbody>
          <tr>
            <th class="input-cell">
              <span class="table-head-label">Menu</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label">Subtotal</span>
            </th>
          </tr>
        </tbody>
        <tbody id="tbody_transaction_invoice">
          
        </tbody>
        <tbody>
          <tr>
            <th class="input-cell">
              <span class="table-head-label">Total</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label" id="transaction_total_amount_transaction_invoice"></span>
            </th>
          </tr>
          <tr>
            <th class="input-cell">
              <span class="table-head-label">Diskon</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label" id="transaction_total_discount_transaction_invoice"></span>
            </th>
          </tr>
          <tr>
            <th class="input-cell">
              <span class="table-head-label">Grand Total</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label" id="transaction_grand_total_transaction_invoice"></span>
            </th>
          </tr>
          <tr>
            <th class="input-cell" colspan="2">
              &nbsp;
            </th>
          </tr>
          <tr>
            <th class="input-cell">
              <span class="table-head-label">Pembayaran</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label" id="transaction_total_paid_transaction_invoice"></span>
            </th>
          </tr>
          <tr>
            <th class="input-cell">
              <span class="table-head-label">Kembalian</span>
            </th>
            <th class="input-cell">
              <span class="table-head-label" id="transaction_total_change_transaction_invoice"></span>
            </th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="block">
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img src="img/list-laporan-penjualan.png" style="width: 100%; height: 80px;">
            <div class="top-left-of-image-list-menu" style="color: black; text-align: left; top: 20px;">
              <span style="font-size: 16px;"><b>Kasir</b></span>
              <br><span id="user_name_transaction_invoice"></span>  
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img src="img/list-laporan-penjualan.png" style="width: 100%; height: 80px;">
            <div class="top-left-of-image-list-menu" style="color: black; text-align: left; top: 20px;">
              <span style="font-size: 16px;"><b>Pelanggan</b></span>
              <br><span id="transaction_customer_name_transaction_invoice"></span>  
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img src="img/list-laporan-penjualan.png" style="width: 100%; height: 80px;">
            <div class="top-left-of-image-list-menu" style="color: black; text-align: left; top: 20px;">
              <span style="font-size: 16px;"><b>Jenis Pembayaran</b></span>
              <br><span id="payment_type_name_transaction_invoice"></span>  
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img src="img/list-laporan-penjualan.png" style="width: 100%; height: 80px;">
            <div class="top-left-of-image-list-menu" style="color: black; text-align: left; top: 20px;">
              <span style="font-size: 16px;"><b>Catatan Tambahan</b></span>
              <br><span id="transaction_message_transaction_invoice"></span>  
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img src="img/list-laporan-penjualan.png" style="width: 100%; height: 80px;">
            <div class="top-left-of-image-list-menu" style="color: black; text-align: left; top: 20px;">
              <span style="font-size: 16px;"><b>Tanggal Transaksi</b></span>
              <br><span id="transaction_date_transaction_invoice"></span>  
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <center>
            <img src="img/btn-cetak-nota.png" id="btn_print_transaction_invoice" style="width: 60%;">
          </center>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
</div>