<div class="page" data-name="store_create">
  <div class="page-content background-body" style="overflow-x: hidden; width: inherit;">
    <div class="container-image">
      <img data-src="img/header-menu.png" class="lazy" style="width: 100%;">
      <div class="top-left-of-image" style="color: black;">
        <a class="back">
          <img data-src="img/icon-back.png" class="lazy" style="width: 20px; height: 20px;">
        </a>
        &nbsp; <font style="font-size: 20px;"><b>Tambah Usaha</b></font>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img data-src="img/txt-menu.png" class="lazy width-max">
            <div class="top-left-of-image lbl-action-sub-master">
              Nama <abbr style="color: red;">*</abbr>
            </div>
            <div class="top-left-of-image txt-action-sub-master">
              <input type="text" id="store_name_create_store" class="width-max" style="color: black;">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container-image">
            <img data-src="img/txt-menu.png" class="lazy width-max">
            <div class="top-left-of-image lbl-action-sub-master">
              Alamat <abbr style="color: red;">*</abbr>
            </div>
            <div class="top-left-of-image txt-action-sub-master">
              <input type="text" id="store_address_create_store" class="width-max" style="color: black;">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <center>
            <img id="btn_create_store" data-src="img/btn-simpan.png" class="lazy">
          </center>
        </div>
      </div>
    </div>
  </div>
</div>