<div data-name="user_login" class="page no-navbar no-toolbar no-swipeback">
  <div class="page-content login-screen-content" style="background: url('img/bg-login.png'); background-size: 100% 100%;">
    <div class="login-screen-title">POS</div>
    <form>
      <div class="block">
        <div class="row">
          <div class="col">
            <div class="container-image">
              <img data-src="img/txt-username-login.png" class="lazy">
              <div class="top-left-of-image" style="width: 90%; height: 80%; top: 23%; left: 28%;">
                <input type="text" name="email" id="username" value="" style="color: black;" placeholder="Ketik username anda disini..">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="container-image">
              <img data-src="img/txt-password-login.png" class="lazy">
              <div class="top-left-of-image" style="width: 90%; height: 80%; top: 23%; left: 28%;">
                <input type="password" name="password" id="password" value="" style="color: black;" placeholder="Ketik kata sandi anda disini..">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <center>
              <img src="img/btn-masuk.png" style="width: 40%;" id="btn-submit-login">
            </center>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>