<div class="page" data-name="payment_type_index">
  <div class="page-content background-body" style="overflow-x: hidden; width: inherit;">
    <div class="container-image">
      <img data-src="img/header-menu.png" class="lazy" style="width: 100%;">
      <div class="top-left-of-image" style="color: black;">
        <a href="/user_home/">
          <img data-src="img/icon-back.png" class="lazy" style="width: 20px; height: 20px;">
        </a>
        &nbsp; <font style="font-size: 20px;"><b>Daftar Jenis Pembayaran</b></font>
      </div>
      <div class="bottom-left-of-image">
        <div class="container-search-master">
          <img data-src="img/txt-search.png" class="lazy img-search-master">
          <div class="top-left-of-image div-txt-search-master">
            <input type="text" id="txt_search_payment_type" placeholder="Cari jenis pembayaran.." class="txt-search-master">
          </div>
        </div>
      </div>
    </div>

    <div class="block" id="list_payment_type">
    
    </div>
  </div>

  <div class="fab fab-right-bottom">
    <a href="/payment_type/create">
      <img data-src="img/btn-tambah.png" class="lazy width-max height-max">
    </a>
  </div>
</div>